--extra-index-url https://download.pytorch.org/whl/cu128

git+https://github.com/huggingface/accelerate.git
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/peft.git
transformers==4.57.3
sentencepiece
torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
kernels
hf_xet
numpy
Pillow
opencv-python-headless
safetensors
huggingface_hub
omegaconf
einops
insightface
onnxruntime-gpu
