numpy
Pillow
opencv-python-headless
https://download.pytorch.org/whl/cu128/torch-2.8.0%2Bcu128-cp312-cp312-win_amd64.whl
https://download.pytorch.org/whl/cu128/torchvision-0.23.0%2Bcu128-cp312-cp312-win_amd64.whl
diffusers
transformers
accelerate
safetensors
huggingface_hub
omegaconf
peft
einops
insightface
onnxruntime-gpu
